<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie_rating_backend.mapper.RatingMapper">
    <insert id="insertOrUpdate">
        INSERT INTO rating1707 (UserID, MovieID, Score, RatingTime)
        VALUES (#{rating.userId}, #{rating.movieId}, #{rating.score}, NOW())
        ON DUPLICATE KEY UPDATE Score = VALUES(Score), RatingTime = NOW()
    </insert>
    <update id="updateRating">
        UPDATE rating1707 SET Score = #{rating.score}, RatingTime = NOW() WHERE UserID = #{rating.userId} AND MovieID = #{rating.movieId}
    </update>
    <select id="getUserMovieRating" resultType="movie_rating_backend.entity.Rating">
        SELECT movie1707.*, rating1707.Score, rating1707.RatingTime
        FROM rating1707
        JOIN movie1707 ON rating1707.MovieID = movie1707.MovieID
        WHERE UserID = #{userId} AND movie1707.MovieID = #{movieId}
    </select>
    <select id="getUserRatings" resultType="movie_rating_backend.entity.MovieRating">
        SELECT
        r.RatingID as ratingId,
        r.UserID as userId,
        r.MovieID as movieId,
        r.Score as score,
        r.RatingTime as ratingTime,
        m.Title as title,
        m.ReleaseYear as releaseYear,
        m.Duration as duration,
        m.Genre as genre,
        m.PosterUrl as posterUrl
        FROM rating1707 r
        JOIN movie1707 m ON r.MovieID = m.MovieID
        WHERE r.UserID = #{userId}
    </select>
    <select id="getAverageRating" resultType="java.lang.Double">
        SELECT AVG(Score) FROM rating1707 WHERE MovieID = #{movieId}
    </select>
</mapper>
